<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">

    <title>Update</title>

</head>
<body>
<form th:method="patch" th:action="@{/admin/all/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="n">Name:</label>
    <input id="n" type="text" th:field="*{username}" th:value="${user.getUsername()}">
    <br>
    <label for="p">Password:</label>
    <input id="p" type="text" th:field="*{password}" th:value="${user.getPassword()}">
    <br>
    <br>
    <label for="f">Lastname:</label>
    <input id="f" type="text" th:field="*{lastname}" th:value="${user.getLastname()}">
    <br>
    <label for="e">Email:</label>
    <input id="e" type="text" th:field="*{email}" th:value="${user.getEmail()}">
    <br>
    <input type="hidden" th:field="*{id}" th:value="${user.getId()}">
    <br>

    <th:block th:each="role: ${all_role}">
        <input type="checkbox" th:field="*{roles}"
               th:text="${role.name}" th:value="${role.id}" class="m-2"/>
    </th:block>


    <br>

    <input type="submit" value="ok">
</form>
</body>
</html>
</body>
</html>