<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:method="post" th:action="@{/registration}" th:object="${user}">
    <label for="n">Enter name: </label>
    <input id="n" type="text" th:field="*{username}">
    <br>
    <label for="p">Enter password: </label>
    <input id="p" type="text" th:field="*{password}">
    <br>
    <label for="f">Enter lastname: </label>
    <input id="f" type="text" th:field="*{lastname}">
    <br>
    <label for="e">Enter Email: </label>
    <input id="e" type="text" th:field="*{email}">
    <br>
    <th:block th:each="role: ${all_role}">
        <input type="checkbox" th:field="*{roles}"
               th:text="${role.name}" th:value="${role.id}" class="m-2"/>
    </th:block>
    <br>
    <input type="submit" value="OK">
</form>
</body>
</html>